{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href= {% static "css/backend_form_blog_project_base.css" %}>
{% endblock stylesheet %}


{% block body_content %}

    <div class="backend_form_blog_project_base_container">

       <h1> {% block form_page_title %}form_page_title{% endblock form_page_title %} </h1>

        <form class='backend_form' action="" method="post">

            {% csrf_token %}
            {{form.as_p}}
            {{form.media}}

            <button type="Submit">Submit</button>
        </form>
    </div>

{% endblock body_content %}



