
:root{
    --bg_colour: #1E426B;
    
    --musterd_light:#F79940;
    --musterd_dark:#ED892B;
    --maroonish: #5F0F40;

    --white: #cdcdcd;
    --black: #232323;

    --nav_hover_colour: green;
    --purple: #404969;

}
/* mobile */
@media only screen and (max-width: 768px) {
    p,h1,h2,h3,h4, ul, button{
        font-family: "Alexandria", sans-serif;
    }
    h1,h2,h3{
        color: var(--maroonish);
    }
    a {
        text-decoration: none;
        color: inherit; /* This makes the link inherit the color of its parent element */
    }
    /* mobile content goes here */


#backend_dashboard_container{
    background-color: var(--musterd_light);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#backend_dashboard_container h1{
    margin: 50px 0 50px 0;
    text-align: center;
}

#backend_dashboard_app_card_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 0 50px 0;

}

.backend_dashboard_app_card{

    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--musterd_dark);
    margin: 5px;

}
.backend_dashboard_app_card h3{
    font-size: 30px;
}
.backend_dashboard_app_card h3,.backend_dashboard_app_card p{
    text-align: center;
    margin: 30px 20px 0 20px;

}


}

/* tablet */

@media only screen and (min-width: 769px) and (max-width: 1540px) {
    p,h1,h2,h3,h4, ul, button{
        font-family: "Alexandria", sans-serif;
    }
    h1,h2,h3{
        color: var(--maroonish);
    }
    a {
        text-decoration: none;
        color: inherit; /* This makes the link inherit the color of its parent element */
    }
/* tablet content goes here */


#backend_dashboard_container{
    background-color: var(--musterd_light);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#backend_dashboard_container h1{
    margin: 50px 0 50px 0;
    text-align: center;
}

#backend_dashboard_app_card_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 0 50px 0;

}

.backend_dashboard_app_card{
   
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--musterd_dark);
    margin: 5px;

}
.backend_dashboard_app_card h3{
    font-size: 30px;
}
.backend_dashboard_app_card h3,.backend_dashboard_app_card p{
    text-align: center;
    margin: 30px 20px 0 20px;

}

}

/* computer */
@media only screen and (min-width: 1540px) {
    p,h1,h2,h3,h4, ul, button{
        font-family: "Alexandria", sans-serif;
    }
    h1,h2,h3{
        color: var(--maroonish);
    }
    a {
        text-decoration: none;
        color: inherit; /* This makes the link inherit the color of its parent element */
    }
    /* computer content goes here */

    #backend_dashboard_container{
        background-color: var(--musterd_light);
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    #backend_dashboard_container h1{
        margin: 50px 0 50px 0;
        text-align: center;
    }
    
    #backend_dashboard_app_card_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        margin: 0 0 50px 0;
    
    }
    
    .backend_dashboard_app_card{
        
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--musterd_dark);
        margin: 5px;
    
    }
    .backend_dashboard_app_card h3{
        font-size: 30px;
    }
    .backend_dashboard_app_card h3,.backend_dashboard_app_card p{
        text-align: center;
        margin: 30px 20px 0 20px;
    
    }
    
}