:root{
    --bg_colour: #1E426B;
    
    --musterd_light:#F79940;
    --musterd_dark:#ED892B;
    --maroonish: #5F0F40;

    --white: #cdcdcd;
    --black: #232323;

    --nav_hover_colour: green;

}
/* mobile */
@media only screen and (max-width: 768px) {
    p,h1,h2,h3,h4, ul, button{
        font-family: "Alexandria", sans-serif;
    }
    h1,h2,h3{
        color: var(--maroonish);
    }
    a {
        text-decoration: none;
        color: inherit; /* This makes the link inherit the color of its parent element */
    }
    /* mobile content goes here */

    #contact_section{
        width: 100%;
        height: 100vh;
        background-color: var(--musterd_light);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact_section h1{
        font-size: 60px;
        font-weight: 330;
        text-align: center;
        margin: 100px 0 0 0;
    }

    #contact_section h2{
        margin: 20px 0 50px 0;
    }

    form p label{
        color: var(--maroonish);
        font-size: 30px;
        width: 100%;
    }

    form p input{
        width: 100%;
        height: 25px;
    }

    form p {
        display: flex;
        flex-direction: column;
    }

    form button{
        color: var(--maroonish);
        background-color: rgb(179 239 235);
        height: 50px;
        width: 150px;
        border-radius: 100px;
        font-size: 30px;
        font-weight: 300;
    }


}

/* tablet */

@media only screen and (min-width: 769px) and (max-width: 1540px) {
    p,h1,h2,h3,h4, ul, button{
        font-family: "Alexandria", sans-serif;
    }
    h1,h2,h3{
        color: var(--maroonish);
    }
    a {
        text-decoration: none;
        color: inherit; /* This makes the link inherit the color of its parent element */
    }
/* tablet content goes here */

#contact_section{
    width: 100%;
    height: 100vh;
    background-color: var(--musterd_light);

    display: flex;
    flex-direction: column;
    align-items: center;
    }

    #contact_section h1{
        font-size: 60px;
        font-weight: 330;
        text-align: center;
        margin: 100px 0 0 0;
    }

    #contact_section h2{
        margin: 20px 0 50px 0;
    }

    form{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form p label{
        color: var(--maroonish);
        font-size: 30px;
        width: 30%;
        font-weight: 300;
    }

    form p input{
        width: 100%;
        height: 35px;
    }

    form p textarea{
        width: 100%;
    }

    form p {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    form button{
        color: var(--maroonish);
        background-color: rgb(179 239 235);
        height: 100px;
        width: 200px;
        border-radius: 100px;
        font-size: 30px;
        font-weight: 300;
    }


}

/* computer */
@media only screen and (min-width: 1540px) {
    p,h1,h2,h3,h4, ul, button{
        font-family: "Alexandria", sans-serif;
    }
    h1,h2,h3{
        color: var(--maroonish);
    }
    a {
        text-decoration: none;
        color: inherit; /* This makes the link inherit the color of its parent element */
    }
    /* computer content goes here */

    #contact_section{
        width: 100%;
        height: 100vh;
        background-color: var(--musterd_light);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact_section h1{
        font-size: 60px;
        font-weight: 330;
        text-align: center;
        margin: 100px 0 0 0;
    }

    #contact_section h2{
        margin: 20px 0 50px 0;
    }

    form{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form p label{
        color: var(--maroonish);
        font-size: 30px;
        width: 30%;
        font-weight: 300;
    }

    form p input{
        width: 100%;
        height: 35px;
    }

    form p textarea{
        width: 100%;
    }

    form p {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    form button{
        color: var(--maroonish);
        background-color: rgb(179 239 235);
        height: 100px;
        width: 200px;
        border-radius: 100px;
        font-size: 30px;
        font-weight: 300;
    }

    
}

