:root{
    --bg_colour: #1E426B;
    
    --musterd_light:#F79940;
    --musterd_dark:#ED892B;
    --maroonish: #5F0F40;

    --white: #cdcdcd;
    --black: #232323;

    --nav_hover_colour: green;

}
/* mobile */
@media only screen and (max-width: 768px) {
    p,h1,h2,h3,h4, ul, button{
        font-family: "Alexandria", sans-serif;
    }
    h1,h2,h3{
        color: var(--maroonish);
    }
    a {
        text-decoration: none;
        color: inherit; /* This makes the link inherit the color of its parent element */
    }
    /* mobile content goes here */

    #project_tiles_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        margin: 0 0 50px 0;
        align-content: center;
        
        

    }

    .tile_container{
        width: 300px;
        height:auto;
        margin: 5px;
        display: flex;
        flex-direction: column;
        background-color: var(--musterd_dark);

    }



    .tile_link{


    } 
    
    .tile{
        width: 300px;
        height:300px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: var(--musterd_dark);
    }

    .tile h2{
        margin: 0 !important;
        font-size: 25px;

    }

    .tile h3{
        display: none;
    }

    .tile img{
        width: 200px;
        height: 200px;
        margin: 10px 0 10px 0 ;
    }
    
    .backend_buttons_container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .backend_buttons {
        width: 40%;
        height: 50px;
        margin: 0 0 50px 0;
        background-color: var(--musterd_light);
        color: var(--maroonish);
        font-size: 15px;
    }



}

/* tablet */

@media only screen and (min-width: 769px) and (max-width: 1540px) {
    p,h1,h2,h3,h4, ul, button{
        font-family: "Alexandria", sans-serif;
    }
    h1,h2,h3{
        color: var(--maroonish);
    }
    a {
        text-decoration: none;
        color: inherit; /* This makes the link inherit the color of its parent element */
    }
/* tablet content goes here */

#project_tiles_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
    justify-content: center;
    
    

}

.tile_container{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--musterd_dark);
    margin: 5px; 
}

.tile_link{
    width: 100%;
    
}

.tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height:100%;
    
    
}

.tile img{
    width: 300px;
    height: 300px;
    margin: 30px 0 0 0 ;
}

.backend_buttons_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.backend_buttons {
    width: 40%;
    height: 50px;
    margin: 0 0 50px 0;
    background-color: var(--musterd_light);
    color: var(--maroonish);
    font-size: 15px;
}
}

/* computer */
@media only screen and (min-width: 1540px) {
    p,h1,h2,h3,h4, ul, button{
        font-family: "Alexandria", sans-serif;
    }
    h1,h2,h3{
        color: var(--maroonish);
    }
    a {
        text-decoration: none;
        color: inherit; /* This makes the link inherit the color of its parent element */
    }
    /* computer content goes here */

    #project_tiles_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 0 0 50px 0;
        justify-content: center;
        
        
    
    }

    .tile_container{
        width: 30%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--musterd_dark);
        margin: 5px; 
    }
    
    .tile_link{
        width: 100%;
        height: 100%;
        
    }
    
    .tile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        height:100%;
        
        
    }
    
    .tile img{
        width: 300px;
        height: 300px;
        margin: 30px 0 0 0 ;
    }

    .backend_buttons_container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .backend_buttons {
        width: 40%;
        height: 50px;
        margin: 0 0 50px 0;
        background-color: var(--musterd_light);
        color: var(--maroonish);
        font-size: 15px;
    }
    
}

