{% extends "backend_landing_page_base.html" %}
{% load static %}

{% block backend_page_title %}Blogs - Dashboard{% endblock backend_page_title %}
{% block create_button_text %}Create Post{% endblock create_button_text %}

{% block url_to_form_page %}{% url "blogs:blogs_create_form" %}{% endblock url_to_form_page %}

{% block app_tiles %}

<div id="project_tiles_container">

    {% for blog in model %}
        <a class="tile_link" href="{% url "blogs:display_artical" blog.pk %}">
            <div class="tile">
                <img src= "{{ blog.blog_tile_img.url }}">
                <h2> {{blog.blog_title}} </h2>
                <h3> {{blog.blog_subheadeing}} </h3>
            </div>
       </a> 
    {% endfor %}


    

</div> 

{% endblock app_tiles %}