{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href= {% static "css/styles.css" %}> 
    <link rel="stylesheet" href= {% static "css/footer.css" %}>
    {% block stylesheet %}{% endblock stylesheet %}
    
    
   
</head>
<body>

    <nav role="navigation">
        <div id="menuToggle">
          <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
          <input type="checkbox" />
          
          <!--
          Some spans to act as a hamburger.
          
          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
          <span></span>
          <span></span>
          <span></span>
          
          <!--
          Too bad the menu has to be inside of the button
          but hey, it's pure CSS magic.
          -->
          <ul id="menu">
            <a href="{% url 'home' %}"><li>Home</li></a>
            
            <a href="{% url "blogs" %}"><li>Blogs</li></a>
            <a href="{% url "projects" %}"><li>Projects</li></a>
            <a href="{% url "about" %}"><li>About</li></a>
            <a href="{% url "contact" %}"><li>Contact</li></a>
          </ul>
        </div>
      </nav>

      {% block body_content %}{% endblock body_content %}

      {% block extra_scripts %}{% endblock extra_scripts %}

{% include "footer.html" %}
    
</body>
</html>

<!--
Compliments:
    https://erikterwan.com/ for the nav
-->