{% load static %}
<footer>
    <div class="footer_half_container" id="icons_container">
        <div>
            <a href="https://www.facebook.com/profile.php?id=61557122481333"><img class="icon_img" src={% static "socials_icons/facebook.png" %} ></a>
            <a href="https://github.com/ShaunGee"><img class="icon_img"src={% static "socials_icons/github.png" %}></a>
            <a href="https://www.instagram.com/_487zero/"><img class="icon_img" src={% static "socials_icons/instagram.png" %}></a>
            
        </div> 
        <div> 
            <a href="https://www.linkedin.com/in/shaun-gumbaketi-3547a8116/"><img class="icon_img" src={% static "socials_icons/linkedin.png" %}></a>
            <a href="https://www.tiktok.com/@shaungumbaketi"><img class="icon_img" src={% static "socials_icons/tiktok.png" %}></a>
            <a href="https://x.com/GumbaketiShaun"><img class="icon_img" src={% static "socials_icons/x.png" %}></a>

        </div>
       
    </div>
    
    <div class="footer_half_container">
        <div>
            <h2 id="footer_title">Tropdev</h2>
        </div>
        <div></div>
    </div>

 </footer>