{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href= {% static "css/artical_display_template.css" %}>
{% endblock stylesheet %}

{% block body_content %}

{% if artical_type == 'project' %}

    <div class="artical_headers">
        <h1>{{ object.project_artical_title }}</h1>
        <h2>Description: {{ object.project_artical_subheadeing}}</h2>
        
    </div>
    <div class="artical_body">
        {{ object.project_artical_body|safe}}    
    </div>
    


{% elif artical_type == 'blog' %}

    <div>
        <h1>{{ object.blog_title }}</h1>
        <h3>Description: {{ object.blog_subheadeing}}</h3>
        
    </div>

    <div class="artical_body">
        {{ object.blog_body|safe}}
    </div> 

{% endif %}

 {% endblock  %}