{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href= {% static "css/home.css" %}>
{% endblock stylesheet %}

{% block body_content %}

<section id="hp_hero_section">
    <h1>My name is Shaun</h1>
    <h2>I make things</h2>
    <img src= {% static "landing_page_img.png" %}>
    <a href="{% url "about" %}"><h3 id="hero_more_link">More on Shaun --> </h3></a>


</section>
<section class="artical_section_container" id="hp_projects_section">
    <h1>Projects</h1>
    <div class="artical_container" id="projects_container">
        {% for p in  projects%}
            <a class= "tile_link" href="{% url 'projects:display_project_artical' p.pk %}">
                <div>
                    <img src="{{ p.project_artical_image.url }}" alt="{{p.project_artical_subheadeing}}">
                    <h2>{{p.project_artical_title}}</h2>
                    <p>{{p.project_artical_subheadeing}}</p>
                </div>
            </a>
        

        {% endfor %}

    </div>
    <a class='artical_more_link' id='projects_more_link' href="{% url "projects" %}"><h3>More --></h3></a>

</section>

<section id="hp_skills_section">

    <h1>SKILLS</h1>
    <div id="skills_container">

        <div class="skill_box">
            <h2>Front End Development</h2>
            <div class="skill">
                <h3 class="skill_name"> Static Web Development (HTML/CSS)</h3>
                <hr id="web_dev_skill_bar" class="html_skill">
            </div>

            <div class="skill">
                <h3 class="skill_name">Javascript</h3>
                <hr id="javascript_skill_bar" class="html_skill">
            </div>




        </div>

        <div class="skill_box">
            <h2>Back End Development</h2>
            <div class="skill">
                <h3 class="skill_name">Django</h3>
                <hr id="django_skill_bar" class="html_skill">
            </div>

        </div>

        <div class="skill_box">
            <h2>Electronics</h2>
            <div class="skill">
                <h3 class="skill_name">Basics ( still learning :D )</h3>
                <hr id="skill_name_bar" class="html_skill">
            </div>

            
        </div>



    </div>


</section>

<section class="artical_section_container" id="hp_blog_section">
    <h1>BLOG</h1>
    <h3>Here, I throw in my two cents on Tech and Life in general</h3>
    <div class="artical_container" id="blogs_container">
        {% for b in  blogs%}
            <a class= "tile_link" href="{% url 'blogs:display_artical' b.pk %}">
                <div>
                    <img src="{{ b.blog_tile_img.url }}" alt="{{b.blog_subheadeing}}">
                    <h2>{{b.blog_title}}</h2>
                    <p>{{b.blog_subheadeing}}</p>
                </div>
            </a>
        

        {% endfor %}

    </div>
    <a class='artical_more_link' id='projects_more_link' href="{% url "blogs" %}"><h3>More --></h3></a>
    
</section>





{% endblock body_content %}