{% extends "base.html" %}
{% load static %}

{% block stylesheet  %}
<link rel="stylesheet" href= {% static "css/about.css" %}>
{% endblock stylesheet  %}

{% block body_content %}

    <section id="about_section">

        <div id="about_container">
            
            <h1>Who am I</h1>
            <p>
                My name is Shaun, and I am a passionate software developer based in 
                Cairns, located in the Tropical Far North of Queensland, Australia. 
                My journey into software development began in university in early 
                2013, where I discovered my passion for creating through coding.
            </p>

            <p>
                Over the last decade, I have been continuously learning and creating. 
                As a practical learner, my projects serve as a platform for 
                me to delve into various technologies and learn their intricacies. I 
                have been involved in a diverse range of projects, including:
            </p>

            <ul>
                <li>Mobile Application Development</li>
                <li>Machine Learning</li>
                <li>Full Stack Web Development</li>
                <li>Network Infrastructure on a Corporate Level</li>
                <li>Open Source Contributions</li>

            </ul>

            <p>
                Currently, I work as an ICT Support Officer at a Large State Wide 
                Organisation, leveraging my skills and knowledge to support and enhance 
                technology systems. I find enjoyment in interacting with customers and 
                finding solutions to make their lives easier. Seeing a customer go from 
                being scared of using technology to fully utilising it fills my bucket. 
                I absolutely love what I do.
            </p>

            <p>
                This website isn't about selling my skills; it's a space where I reflect 
                on my experiences, projects, and skills. I am deeply passionate about 
                all things "Technology," and my portfolio is a reflection of this 
                passion

            </p>

            <p>
                Thank you for visiting, and I hope you enjoy exploring my portfolio!
            </p>
            

        
        </div>



    </section>


{% endblock body_content%}